{% extends 'base.html' %}

{% block content %}
    <h1>{{ product.name }}</h1>

    <h2>Версии:</h2>
    <ul>
        {% for version in versions %}
            <li>
                {{ version.version_name }} - {{ version.version_number }}
                <a href="{% url 'catalog:version_update' pk=version.pk %}">Редактировать</a>
                <a href="{% url 'catalog:version_delete' pk=version.pk %}" onclick="return confirm('Вы уверены, что хотите удалить эту версию?');">Удалить</a>
            </li>
        {% empty %}
            <li>Нет версий для отображения.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'catalog:version_create' product_id=product.pk %}">Добавить новую версию</a>
{% endblock %}
