{% extends 'base.html' %}
{% load media_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ product.name }}</h2>
    </div>
    <div class="card-body">
        <img class="card-img-top" src="{{ product.image.url|media_url }}" alt="{{ product.name }}">
        <h5 class="card-title">Price: {{ product.price }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-muted">Manufactured at: {{ product.manufactured_at }}</small></p>
    </div>
</div>
<a href="{% url 'catalog:home' %}" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}
